.container {
  padding: 30px;
}

/**
 Grid's gap is not supported well. Lobotomized owls will work just fine here.
 */
.form > * + * {
  margin-left: 4px;
}

.taskName {
  width: 200px;
  padding: 2px;
}

.submitButton {
  padding: 2px;
}

.taskList {
  list-style: none;
  padding: 0;
}

.taskList > * + * {
  margin-top: 5px;
}

.taskLabel > * + * {
  margin-left: 4px;
}

.taskDone {
  text-decoration: line-through;
  color: gray;
}
